.contact-me-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px;
}

.contact-me-grid-item img{
    width: 50px;
}

.contact-me-grid-item, .contact-me-grid-item a {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.contact-me-grid p, .resume p {
    margin: 16px;
}

.resume a{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 800px) {
    .contact-me-grid-item, .contact-me-grid-item a {
        flex: 40%;
    }
}