.waving_hand{
    height: 50px;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15% 0 15%;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.filopatir{
    margin: 16px;
}

hr{
    margin: 0 10% 0 10%;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item{
    margin: 16px;
    padding-left: 8px;
    padding-right: 8px;
    color: #F9F3F3;
    flex: 1;
}

#grid-item-1{
    background-color: rgba(44, 62, 80, 80);
}

#grid-item-2{
    background-color: rgba(46, 116, 181, 80);
}

#grid-item-3{
    background-color: rgba(230, 126, 34, 80);
}

@media (max-width: 700px) {
    .grid-item{
        flex: 100%;
    }
}