.waving_hand{
    height: 50px;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15% 0 15%;
}

.filopatir{
    padding-left: 40px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin: 0 10% 0 10%;
}